---
Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -readability-convert-member-functions-to-static,
  -modernize-use-trailing-return-type,
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
FormatStyle: file
...
